\version "2.24.1"

#(set-global-staff-size 30)

\header {
  title = "Random Letters"
  tagline = ##f
}

\paper {
  indent = #0
  print-page-number = ##f
}

\book {
  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  \score {
      \new Staff
      {
          \clef bass
          \key {{ key() }}
          \time 4/4
          \omit Score.BarNumber
          {{ bar(4) }}
      }
  }

  % \layout {}
}

