\version "2.24.1"

#(set-global-staff-size 30)

\header {
  title = "Random Letters"
  tagline = ##f
}

\paper {
  indent = #0
  print-page-number = ##f
}

\book {
  {% for i in range(1, 8) -%}
      {% set melody = bar(4) -%}
      {% set letters = melody -%}
      {% set melody = melody + '\\bar "|."' -%}
<<
  \new Staff
  {
      \clef bass
      \key {{ key() }}
      \time 4/4
      \omit Score.BarNumber
      {{ melody }}
  }
  \new NoteNames { {{ letters }} }
>>

{% endfor -%}
}
